@import url("https://fonts.googleapis.com/css?family=Roboto:400,200,700,800");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

body {
  font-family: "Roboto", sans-serif; }

p {
  font-size: 1.125em;
  line-height: 1.5; }

h1 {
  font-size: 3.087em; }

h2 {
  font-size: 2.205em; }

h3 {
  font-size: 1.575em; }

h4 {
  font-size: 1.125em; }

button {
  cursor: pointer;
  border-radius: 2px; }
  button:active {
    position: relative;
    top: 1px; }

.hidden {
  display: none; }

.visible {
  display: block; }

.topbar {
  width: 100%;
  border-bottom: 1px solid #DF6666; }

nav {
  width: 100%; }

.nav-mobile {
  padding-left: 5%;
  position: absolute;
  background: white;
  width: 96%;
  right: 2%;
  top: 72px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  height: 220px;
  border-radius: 2px;
  z-index: 99; }
  .nav-mobile.visible {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top; }

.nav-mobile-li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .nav-mobile-li li {
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 2.5;
    border-bottom: 1px solid #DF6666; }
    .nav-mobile-li li:last-of-type {
      border-bottom: none; }
    .nav-mobile-li li a {
      color: black; }

.nav-mobile-scroll-li {
  overflow: auto;
  white-space: nowrap; }
  .nav-mobile-scroll-li li {
    display: inline-block;
    padding: 14px;
    text-transform: uppercase; }

.nav-logo {
  padding-top: 16px;
  padding-left: 2%; }
  .nav-logo img {
    height: 42px;
    fill: red; }

/*.nav-mobile-close
  position: absolute
  right: 4%
  top: 10px
  background: grey
  width: 30px
  height: 30px
  border-radius: 50%
  text-align: center
  &::before
    position: absolute
    content: ""
    width: 2px
    height: 18px
    background: black */
.nav-mobile-burger {
  position: absolute;
  right: 2%;
  top: 36px;
  cursor: pointer;
  width: 24px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .nav-mobile-burger .bun {
    width: 100%;
    height: 4px;
    margin-bottom: 2px;
    background: black;
    -webkit-transition: -webkit-transform ease 0.2s;
    transition: -webkit-transform ease 0.2s;
    -o-transition: transform ease 0.2s;
    transition: transform ease 0.2s;
    transition: transform ease 0.2s, -webkit-transform ease 0.2s;
    border-radius: 2px; }
    .nav-mobile-burger .bun.middle {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .nav-mobile-burger .top.animation {
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg); }
  .nav-mobile-burger .middle.animation {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .nav-mobile-burger .bottom.animation {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    width: 100%; }

header {
  background: url("https://picsum.photos/520/520/?random"), #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%; }

.header-wrapper {
  width: 96%;
  max-width: 1440px;
  margin: auto; }

.header-claim {
  padding-top: 48px;
  padding-bottom: 24px; }
  .header-claim h1 {
    font-size: 36px;
    padding-bottom: 24px; }
  .header-claim h2 {
    margin-top: 12px;
    font-size: 36px; }

.header-claim-line {
  width: 63px;
  height: 8px;
  background: #DF6666; }

button {
  width: 126px;
  height: 30px;
  border: 2px solid #DF6666;
  background: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase; }

.btn-1 {
  margin-right: 8px;
  color: #DF6666; }

.btn-2 {
  color: #fafafa; }

.btn-2 {
  background: #DF6666; }

@-webkit-keyframes fadeIn {
  from {
    border-color: white; }
  to {
    border-color: grey; } }

@keyframes fadeIn {
  from {
    border-color: white; }
  to {
    border-color: grey; } }

.txt-type > .txt {
  border-right: 1px solid grey;
  -webkit-animation: fadeIn 1s infinite alternate;
  animation: fadeIn 1s infinite alternate;
  color: #DF6666; }

main {
  width: 96%;
  margin: auto;
  max-width: 1440px; }
  main h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #DF6666;
    font-weight: 200;
    border-bottom: 1px solid #DF6666;
    margin-bottom: 24px; }
  main h3 {
    margin-bottom: 12px;
    text-align: center;
    margin-bottom: 48px; }
  main .claim {
    margin-top: 24px; }

.card {
  border-bottom: 12px solid #DF6666;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 24px;
  margin-bottom: 24px; }
  .card .claim {
    border-left: 0;
    font-weight: 600; }
  .card article {
    margin-bottom: 48px; }

section {
  margin-top: 48px; }

.print {
  opacity: 100;
  position: relative;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  top: 0; }
  .print.animation {
    top: 25px;
    opacity: 0; }

.alive {
  opacity: 0;
  position: relative;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  top: -25px;
  left: -56px; }
  .alive.animation {
    opacity: 100;
    top: 0px; }

.portfolio {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.portfolio-image-wrapper {
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 24px; }
  .portfolio-image-wrapper img {
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0; }

@media screen and (min-width: 500px) {
  .portfolio-image-wrapper {
    width: 30%; } }

.portfolio-info {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  top: 0;
  left: 0;
  line-height: 1.5;
  font-size: 38px;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all ease 2s;
  -o-transition: all ease 2s;
  transition: all ease 2s;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: none; }
  .portfolio-info.animation {
    background: white;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; }

.portfolio-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: white;
  border-top-left-radius: 100%;
  display: none; }
  .portfolio-icon::after {
    content: "!";
    display: block;
    position: absolute;
    font-size: 48px;
    text-align: center;
    margin: auto;
    bottom: 30px;
    right: 30px; }

@supports (display: grid) {
  @media screen and (min-width: 800px) {
    header {
      height: 420px;
      display: grid;
      grid-template-columns: minmax(300px, 300px) 1fr;
      max-width: 1440px;
      margin: auto;
      padding-left: 2%;
      padding-right: 2%; }
    .header-wrapper {
      margin-top: 0; }
    .header-img {
      background: url("https://previews.123rf.com/images/mopc95/mopc951612/mopc95161200021/69350647-vector-illustration-with-blue-icon-in-flat-line-style-design-concept-for-digital-marketing-social-ca.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .section-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px; } } }
