<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        //- CSS

        link(rel="stylesheet", href="css/style.css", type="text/css")


    body

        //- Navigation

        .topbar
            nav
                .nav-logo
                    img(src="bilder/schaal_logo.svg", alt="schaal.design")
                ul.nav-desktop.hidden
                    li
                        a(href="#section-1") Leistungen
                    li
                        a(href="#section-2") Portfolio
                    li
                        a(href="#section-3") Kontakt
                    li
                        a(href="#section-4") Impressum
                    li
                        a(href="#section-5") Datenschutz
                .nav-mobile
                    ul.nav-mobile-li
                        li
                            a(href="#section-1") Leistungen
                        li
                            a(href="#section-2") Portfolio
                        li
                            a(href="#section-3") Kontakt
                        li
                            a(href="#section-4") Impressum
                        li
                            a(href="#section-5") Datenschutz
                        .nav-mobile-close
                .nav-mobile-burger
                    .bun.top
                    .bun.middle
                    .bun.bottom
        
        //- Navigation Ende

        //- Header

        header
            .header-wrapper
                .header-claim
                    h1 schaal.design
                    .header-claim-line
                    h2 Wir machen <br><span class="txt-type" data-wait="3000" data-words='["Visitenkarten", "Flyer", "Logos", "Webseiten", "CMS"]'></span>

                button.btn-1 Portfolio
                button.btn-2 Kontakt

        //- Header Ende

        //- Content

        main

            section#section-1
                article.article-1
                    h3 Print is <span class="print">Dead</span><span class="alive">Alive</span>
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloremque nulla at voluptatum recusandae praesentium, laudantium illo. Enim eius deserunt, sunt maxime omnis fuga atque error sit tempore repudiandae saepe.

                article.article-2
                    h3 Na Logo
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloremque nulla at voluptatum recusandae praesentium, laudantium illo. Enim eius deserunt, sunt maxime omnis fuga atque error sit tempore repudiandae saepe.


                article.article-3
                    h3 Print is Dead
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloremque nulla at voluptatum recusandae praesentium, laudantium illo. Enim eius deserunt, sunt maxime omnis fuga atque error sit tempore repudiandae saepe.


                article.article-4
                    h3 Print is Dead
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloremque nulla at voluptatum recusandae praesentium, laudantium illo. Enim eius deserunt, sunt maxime omnis fuga atque error sit tempore repudiandae saepe.


                article.article-5
                    h3 Print is Dead
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloremque nulla at voluptatum recusandae praesentium, laudantium illo. Enim eius deserunt, sunt maxime omnis fuga atque error sit tempore repudiandae saepe.

            section#section-2
                

            section#section-3
                

            section#section-4
                

            section#section-5
                
        
        //-Content Ende

        //-Footer

        footer
            ul.footer-nav
                li Impressum
                li Datenschutz

        //-Footer Ende

        //-Jquery

        script(src='js/functions.js')